.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(120, 98%, 50%, 0.177);
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  min-height: 300px;
  display: inline-block;
  vertical-align: top;
}
.card .img-card {
  width: 150px !important;
  height: 150px !important;
  min-width: 150px !important;
  min-height: 150px !important;
  max-width: 150px !important;
  max-height: 150px !important;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card .title-card {
  font-family: Arial, Helvetica, sans-serif;
  color: hsla(0, 0%, 20%);
  margin: 0;
}
.card .text-card {
  font-family: Arial, Helvetica, sans-serif;
  color: hsla(0, 0%, 30%);
}
